[submodule "kicad-libs"]
	path = kicad-libs
	url = https://gitlab.com/salfter/kicad-libs
	branch = master
[submodule "digikey-kicad-library"]
	path = digikey-kicad-library
	url = https://gitlab.com/salfter/digikey-kicad-library
